<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blmdz.wapplet.dao.UserDao">
	<resultMap id="BaseResultMap" type="cn.blmdz.wapplet.model.entity.User">
		<id column="id" property="id" />
		<result column="nick" property="nick" />
		<result column="avatar" property="avatar" />
		<result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="area" property="area" />
        <result column="channel" property="channel" />
        <result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<sql id="cloums_all">
		`id`, <include refid="cloums" />
	</sql>

	<sql id="cloums">
		`nick`, `avatar`, `gender`, `birthday`, `area`, `channel`, `status`, `create_time`, `update_time`
	</sql>

	<sql id="vals_all">
		#{id}, <include refid="vals" />
	</sql>

	<sql id="vals">
		#{nick}, #{avatar}, #{gender}, #{birthday}, #{area}, #{channel}, #{status}, #{createTime}, #{updateTime}
	</sql>

	<sql id="tb">
		`tb_basic_user`
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="cn.blmdz.wapplet.model.entity.User">
		insert into
		<include refid="tb" />
		(<include refid="cloums" />)
		values
		(<include refid="vals" />)
	</insert>

	<update id="update" parameterType="cn.blmdz.wapplet.model.entity.User">
		update
	    <include refid="tb"/>
		<set>
		  <if test="nick != null">`nick` = #{nick},</if>
		  <if test="avatar != null">`avatar` = #{avatar},</if>
		  <if test="gender != null">`gender` = #{gender},</if>
		  <if test="birthday != null">`birthday` = #{birthday},</if>
		  <if test="area != null">`area` = #{area},</if>
          <if test="status != null">`status` = #{status},</if>
		  `update_time` = #{updateTime}
		</set>
		where `id` = #{id}
	</update>

	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
		where `id` = #{id}
	</select>
</mapper>
